<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <script src="js/vue.js"></script>
</head>

<body>
  <div id="app">
    <ul>
      <li v-for="(data,index) in datas">
        {{ index + 1 }}
        <p>{{ data.id }}</p>
        <p>电影: {{ data.title }}</p>
        <p>主演:
          <span v-for="cast in data.casts">
            {{cast.name}}  
          </span>
        </p>
        <p>剧情:
          <span v-for="genre in data.genres">{{genre}},</span>
        </p>
      </li>
    </ul>
  </div>
  <script>
    new Vue({
      el: '#app',
      data: {
        datas: [{
            id: 123,
            "title": "肖申克的救赎",
            casts: [{
                "name": "蒂姆·罗宾斯",
                "id": "1054521"
              },
              {
                "name": "摩根·弗里曼",
                "id": "1054534"
              },
              {
                "name": "鲍勃·冈顿",
                "id": "1041179"
              }
            ],
            "genres": [
              "犯罪",
              "剧情"
            ]
          },
          {
            id: 124,
            "title": "霸王别姬",
            casts: [{
                "name": "张国荣",
                "id": "1003494"
              },
              {
                "name": "张丰毅",
                "id": "1050265"
              },
              {
                "name": "巩俐",
                "id": "1035641"
              }
            ],
            "genres": [
              "剧情",
              "爱情",
              "同性"
            ]
          }
        ]
      }
    })
  </script>
</body>

</html>