<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="css/bootstrap.css">
  <script src="js/vue.js"></script>
  <script src="js/vue2-filters.min.js"></script>
</head>

<body>
  <div id="app" class="container">
    <input type="text" v-model="keyword">
    <table class="table table-bordered table-stripe" v-show="products.length>0">
      <thead>
        <tr>
          <th>序号</th>
          <th>PID</th>
          <th>产品名称</th>
          <th>产品单价</th>
          <th>产品数量</th>
          <th>产品总价</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <!-- 只对name进行过滤 -->
        <!-- <tr v-for="(product,index) in filterBy(products,keyword,'name')"> -->
        <tr v-for="(product,index) in orderBy(products,'num',-1)">
          <td>{{ index+1 }}</td>
          <td>{{ product.id }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.price }} 元</td>
          <td>
            <button @click="minus(index)" class="btn btn-primary btn-xs">-</button>
            <input type="number" v-model="product.num">
            <button @click="plus(index)" class="btn btn-primary btn-xs">+</button> 件</td>
          <td>{{ product.num * product.price }} 元</td>
          <td>
            <button @click="del(index)" class="btn btn-danger btn-sm">
              删除
            </button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td>总数： </td>
          <td>{{ getTotalNum }}</td>
          <td>总价： </td>
          <td colspan="2">{{ getTotalPrice }} 元</td>
          <td colspan="2">
            <button @click="clear" class="btn btn-danger btn-sm">
              清空购物车
            </button>
          </td>
        </tr> 
      </tfoot>
    </table>
    <h1 v-show="products.length===0">您的购物车是空的</h1>
  </div>
  <script>
    new Vue({
      el: '#app',
      data: {
        keyword: '',
        products: [{
            id: 123123,
            name: '小米4',
            price: 2999,
            num: 250
          },
          {
            id: 123124,
            name: '坚果PRO',
            price: 3999,
            num: 550
          },
          {
            id: 123125,
            name: 'iPhone8',
            price: 1999,
            num: 50
          },
          {
            id: 123126,
            name: 'iPhone8 Plus',
            price: 5999,
            num: 1
          }
        ]
      },
      watch: {
        products: {
          handler: function(val){
            for(let i=0;i<val.length;i++){
              if(!(val[i].num>=1)){
                let result = confirm('确定要删除吗?')
                if(result){  //确定 从购物车删掉当前数据
                  this.products.splice(i,1)
                }else{
                  this.products[i].num = 1
                }
                return
              }
            }
          },
          deep: true
        }
      },
      computed: {
        getTotalNum() {
          let _totalNum = 0
          this.products.forEach(function (element) {
            console.log(typeof element.num) //
            _totalNum += (element.num - 0) 
          }, this);
          // this 指定回调函数中this的指向
          // 如果不改变的话  这里的this -> window
          return _totalNum
        },
        getTotalPrice() {
          let _totalPrice = 0
          this.products.forEach(function (element) {
            console.log(this) //this
            _totalPrice += element.num * element.price
          }, this);
          return _totalPrice
        }
      },
      methods: {
        plus(index){
          this.products[index].num++
        },
        minus(index){
          if(this.products[index].num > 1 ){
            this.products[index].num--
          }else{
            let result = confirm('确定要删除吗?')
            if(result){  //确定 从购物车删掉当前数据
              this.products.splice(index,1)
            }
          }
        },
        del(index) {
          this.products.splice(index, 1)
        },
        
        clear() {
          this.products = []
        }
      }
    })
  </script>
</body>

</html>